@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Dark theme */
  --color-accent: #e2b714;
  --color-dark: #1a1a1a;
  --color-light: #ffffff;
  --color-grLight: #D1D5DC;
  --color-warning: #E7000B;
  --color-grDark: #52525C;

  /* Light theme */
  --color-light-bg: #f2f5f4;
  --color-light-surface: #E8F0EC;
  --color-light-primary: #3F6B5B;
  --color-light-primary-hover: #315547;
  --color-light-secondary: #C4D8CF;
  --color-light-text: #18212B;
  --color-light-text-secondary: #46515C;
  --color-light-border: #B8CEC3;
  --color-light-muted: #D2E0D9;


  --font-mono: "JetBrains Mono", monospace;
  --font-sans: "Inter", sans-serif;
}